name: Validate Renovate Config
on:
  push:
    branches:
      - main
  pull_request:

jobs:
  validate:
    name: validate
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup pnpm
        uses: pnpm/action-setup@v4

      - name: Setup Node.js Environment
        uses: actions/setup-node@v6
        with:
          node-version-file: .nvmrc

      - name: Validate Renovate Config
        run: pnpm validate
